#app {
  font-family: 'PT Sans Narrow', sans-serif;
  background: url('./assets/background.jpg');
  background-size: cover;
}

.container,.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.card {
  transform: translateY(0px) rotate(3deg);
  background: linear-gradient(110deg, #ffb184 0%, #3876fa 100%);
  border-radius: 30px;
}
.card-img-top {
  background:rgba(22, 21, 21, 0.637);
}

.card-header {
  background:white;
}

.card-body {
  background:rgba(255, 255, 255, 0.637);
}

.pokeName {
  font-family: fantasy;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

table {
  table-layout: fixed;
}

th {
  text-align: right;
  margin-right: 10px;
}

td {
  text-align: left;
  margin-left: 10px;
}